

<li id="Qualification-<%= qualification.id %>">

  <h4><strong>Qualification: </strong><%= qualification.name %></h4>
  <h5><strong>School: </strong><%= qualification.school %></h5>
  <h5><strong>Completed: </strong><%= qualification.completed %></h5>

    <% if current_user?(qualification.user) %>
      <%= link_to "delete", qualification, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>

</li>
